.login label{
    color: rgb(12, 173, 79);
}

.login input{
    border-radius: 1px;
    border: none;
    height: 30px;
}

.col-lg-6 .login{
    margin-top: 60px;
    margin-left: 110px;
    margin-right: 140px;
}

.login{
    background-color: #1e1e1e ;
    height: 500px;
    width: 400px;
    margin-left: 107.5px;
}

img{
    height: 500px;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(12, 173, 79);
}


.container{
    margin-top: 80px;
    margin-left: 110px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    height: 100vh;
    margin-right: 50px;
    
}

form .form-login{
    padding-bottom: -625px;
}

span{
    color: beige;
}

.btn{
    background-color: rgb(12, 173, 79);
    border: none;
}

h1{
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    color: rgb(12, 173, 79);
    font-weight: 800;
}

span{
    color: beige;
}

.btn:hover{
    background-color: #1e1e1e;
    border: 1px solid rgb(12, 173, 79);
}