<!-- when cart is empty -->
<div *ngIf="allItems.length==0" class="container-fluid  mt-100">
    <div class="row">
    
       <div class="col-md-12">
       
               <div class="card">
           <div class="card-header">
           </div>
           <div class="card-body cart">
                   <div class="col-sm-12 empty-cart-cls text-center">
                       <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                       <h3><strong>Oops, Your Cart is Empty</strong></h3>
                       <a href="#" class="btn cart-btn-transform m-3" data-abc="true">CONTINUE SHOPPING</a>
                       
                   
                   </div>
           </div>
   </div>
           
       
       </div>
    
    </div>
   
   </div>



<!-- cart -->
<div *ngIf="allItems.length!=0" class="card mt-5 mb-5">
    <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                </div>
            </div> 
    <div  *ngFor="let item of allItems" class="row">
        <div class="col-md-8 cart">   
            <div class="row border-top border-bottom items">
                <div class=" row main align-items-center">
                    <div class="col-2"><img class="img-fluid" [src]="item.images"></div>
                    <div class="col">
                        <div class="row text-muted">{{item.name}}</div>
                        <div class="row">Qty:{{item.quantity}}</div>
                    </div>
                    <div class="col small-box add-remove">
                        <!-- <a href="#" class="border">{{item.quantity}}</a> -->
                        <button (click)="removeitem(item.id)" class="btn-2 btn-danger">Remove</button>
                    </div>
                    <div class="col price">₹ {{item.price}}</div>
                </div>
            </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">₹ {{cartTotal}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
</div>

<button class="btn-3" routerLink="">Shop More</button>