<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="height: 300px; width: 300px;" class="card-img-top mb-5 mb-md-0" [src]="items.images" alt="..." /></div>
            <div class="col-md-6">
                <div class="small text-light mb-1">{{items._id}}</div>
                <h1 class="display-5 fw-bolder">{{items.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span>₹ {{items.price}}</span>
                </div>
                <p class="lead">{{items.description}}</p>
                <div class="d-flex">
                    <button (click)=" addtocart(items)" class="btn btn-danger mt-auto">
                        Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>